.signup-wrapper
  .signup-header
    = image_tag "mercari-logo.svg", class: "signup-mercari-logo" 
    = image_tag "遷移図4分の4.png", class: "signup-transition-diagram"
    -# # 5ページ共通 ※ 遷移図の No. だけ変える(scssはstep1に記入)
      
  .signup-main5
    .signup-main5__head 会員登録完了
    .a-5
      .signup-main5__head__text
        %p 
          ありがとうございます。
        %p 
          会員登録が完了しました。
      .signup-step5-submit 
        = link_to root_path do
          メルカリをはじめる。
    .a-5_2
      = image_tag "signup-フッタースクショ.png", class: "signup-footter-photo"
  
  = render partial: "items/footer"
