= render partial: "header"
- breadcrumb :identification
= breadcrumbs separator: " &rsaquo; ",class: "breadcrumb"
.main
  .main-contents
    = render partial: "sidebar"
    .main-contents__right--card_create
      %h2　クレジットカード情報入力
      .main-contents__right--identification-section
        .main-contents__right--identification-section-form
          %label カード番号
          .signup-form-require 必須
          %input{placeholder: "半角数字のみ"}
          = image_tag "credit-card-design.png", class: "credit-card-create_design" 
        
          %label 有効期限
          .signup-form-require 必須
          = form_for @user.prefecture, method: :post do |f|
            = f.select :prefecture, [["---", "---"],["01", "01"],["02", "02"],["03", "03"],["04", "04"],["05", "05"],["06", "06"],["07", "07"],["08", "08"],["09", "09"],["10", "10"],["11", "11"],["12", "12"]], {},  prompt: "---", class: "signup-main3__form__prefecture__select",selected: @user.prefecture 
            月

          -# = form_for @credit_card.month, method: :get do |f|
          -#   = f.select [["---", "---"],["01", "01"],["02", "02"],["03", "03"],["04", "04"],["05", "05"],["06", "06"],["07", "07"],["08", "08"],["09", "09"],["10", "10"],["11", "11"],["12", "12"]]


          = form_for @user.prefecture, method: :post do |f|
            = f.select :prefecture, [["---", "---"], ["19", "19"],["20", "20"],["21", "21"],["22", "22"],["23", "23"],["24", "24"],["25", "25"],["26", "26"],["27", "27"],["28", "28"],["29", "29"]], {},  prompt: "---", class: "signup-main3__form__prefecture__select",selected: @user.prefecture 
            年
        
          %label セキュリティコード
          .signup-form-require 必須
          %input{placeholder: "カード背面4桁もしくは3桁の番号"}
          .main-contents__right--identification-section-upload-about
            =link_to "カード裏面の番号とは？", class: "main-contents__right--identification-section-upload-about-in"


          
        .main-contents__right-item
          %p
            =link_to "追加する",home_card_path, class: "main-contents__right-item-registration"
        
    
= render partial: "footer"
= render partial: "camera"