= render partial: "header"
- breadcrumb :identification
= breadcrumbs separator: " &rsaquo; ",class: "breadcrumb"
.main
  .main-contents
    = render partial: "sidebar"
    .main-contents__right--identification
      %h2　メール/パスワード
      .main-contents__right--identification-section
        .main-contents__right--identification-section-form
          %label メールアドレス
          %input{value: @user.email }

        .main-contents__right--identification-section-form
          %label 現在のパスワード
          %input{value: @user.password }

        .main-contents__right--identification-section-form
          %label 新しいパスワード
          %input{placeholder: '7文字以上'}

        .main-contents__right--identification-section-form
          %label 新しいパスワード確認
          %input{placeholder: '7文字以上'}

        .main-contents__right-item
          =link_to "変更する", home_mypage_path, class: "main-contents__right-item-registration"




= render partial: "footer"
= render partial: "camera"