= render partial: "header"
- breadcrumb :identification
= breadcrumbs separator: " &rsaquo; ",class: "breadcrumb"
.main
  .main-contents
    = render partial: "sidebar"
    .main-contents__right--identification
      %h2　本人情報の登録
      .main-contents__right--identification-section
        .main-contents__right--identification-section-upload
          %p お客さまの本人情報をご登録ください。登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .main-contents__right--identification-section-upload-about
            =link_to "本人確認書類のアップロードについて", class: "main-contents__right--identification-section-upload-about-in"
            %i.fas.fa-chevron-right
        .main-contents__right--identification-section-form
          %label 名前
          %p メルカリ太郎
        .main-contents__right--identification-section-form
          %label お名前カナ
          %p メルカリタロウ
        .main-contents__right--identification-section-form
          %label 生年月日
          %p 1991/08/08
        .main-contents__right--identification-section-form
          %label 郵便番号
          %span 任意
          %input{placeholder: "例）1234567"}
        .main-contents__right--identification-section-form
          %label 都道府県
          %span 任意
          =form_for Prefecture.name do |f|
            = f.collection_select(:prefecture_id, Prefecture.all, :id, :name)
        .main-contents__right--identification-section-form
          %label 市区町村
          %span 任意
          %input{placeholder: "例) 横浜市緑区"}
        .main-contents__right--identification-section-form
          %label 番地
          %span 任意
          %input{placeholder: "例) 青山1−1−1"}
        .main-contents__right--identification-section-form
          %label 建物名
          %span 任意
          %input{placeholder: "例) 柳ビル103"}
        .main-contents__right-item
          %p
            =link_to "登録する","#", class: "main-contents__right-item-registration"
        .main-contents__right--identification-section-upload-about
          =link_to "本人情報の登録について", class: "main-contents__right--identification-section-upload-about-in"
          %i.fas.fa-chevron-right
= render partial: "footer"
= render partial: "camera"