!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %link{:href => "style.css", :rel => "stylesheet"}/
    %title タイトル
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", :src => "https://code.jquery.com/jquery-3.3.1.min.js"}
  %body
    = render partial: "header"
    %main
      %article.main-image
        =image_tag "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?575670517"
      .category
        %p 人気のカテゴリー
        .links
          =link_to 'レディース' , "#ladies"
          =link_to 'メンズ' , "#mens"
          =link_to '家電・スマホ・カメラ' , "#ele"
          =link_to 'おもちゃ・ホビー・グッズ' ,"#toy"
      .item-container
        %article.item-container__wrapper
          .item-container__wrapper-text
            %p#ladies.item-container__wrapper-title レディース新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name

          .item-container__wrapper-text
            %p#mens.item-container__wrapper-title メンズ新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name
              
          .item-container__wrapper-text
            %p#ele.item-container__wrapper-title 家電・スマホ・カメラ新着アイテム

            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name

          .item-container__wrapper-text
            %p#toy.item-container__wrapper-title おもちゃ・ホビー・グッズ新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name
              

      .category
        %p 人気のブランド
        .links
          =link_to 'シャネル' , "#chanel"
          =link_to 'ルイヴィトン' ,"#vuitton"
          =link_to 'シュプリーム' ,"#supreme"
          =link_to 'ナイキ' , "#nike"
      .item-container
        %article.item-container__wrapper
          .item-container__wrapper-text
            %p#chanel.item-container__wrapper-title シャネル新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name

          .item-container__wrapper-text
            %p#vuitton.item-container__wrapper-title ルイヴィトン新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name             

          .item-container__wrapper-text
            %p#supreme.item-container__wrapper-title シュプリーム新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name

          .item-container__wrapper-text
            %p#nike.item-container__wrapper-title ナイキ新着アイテム
            =link_to 'もっと見る >'
          .item-container__wrapper-contents
            .item-container__wrapper-contents-parts
              - @index_item.each_with_index do |i,n|
                =link_to "/items/#{i.id}" do
                  .item-container__wrapper-contents-parts-box
                    .item-container__wrapper-contents-parts-box-price-in
                      %span.item-container__wrapper-contents-parts-box-in-price
                        ¥
                        = i.price
                      -if i.transaction_condition == 2
                        .sold
                          %p SOLD
                      =image_tag "https://i.pinimg.com/originals/11/80/c3/1180c317f8306d4fed8ca722393bc384.jpg", :width => "188" ,height: "188"
                    .item-container__wrapper-contents-parts-box-text
                      %p.item-container__wrapper-contents-parts-box-text-title= i.name
                            
      = render partial: "footer"
      = render partial: "camera"

                      -# =image_tag "#{@image[n][:image]}", :width => "188" ,height: "188"
