.exhibit-wrapper
  = render partial: "header"
  %main.exhibit-main
    .exhibit-main__head
      %h2 商品の情報を入力
    = form_for @item do |f|{class: "exhibit-main__image-content"}
      .exhibit-main__image-content__form
        = f.fields_for @item_images do |img|
          .exhibit-main__image-content__form--title
            %h3 出品画像
            %span
              必須
            %p 最大10枚までアップロードできます
          .exhibit-main__image-content__form__body
            .exhibit-main__image-content__form__body__img-small#img_field
            .exhibit-main__image-content__form__body__img-large
              = img.label :image, class: "exhibit-main__image-content__form__body__img-large--label", for: "file" do
                %h3
                  ドラッグアンドドロップ
                  %br またはクリックしてファイルをアップロード
              = img.file_field :image, id: "file", class: "exhibit-main__image-content__form__body--file", name: "item_images[image][]", accept: "image/*", multiple: true
      .exhibit-main__description
        .exhibit-main__description__title
          %label
            商品名
            %span 必須
          = f.text_field :name, placeholder: "商品名 (必須40字まで)", class: "exhibit-main__description__title__input"
        .exhibit-main__description__body
          %label
            商品の説明
            %span 必須
          = f.text_area :description, placeholder: "商品の説明 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入してジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "exhibit-main__description__body__input"
      .exhibit-main__detail
        %h3.exhibit-main__detail__title
          商品の詳細
        .exhibit-main__detail__input
          .exhibit-main__detail__input__category#category-box
            %label
              カテゴリー
              %span 必須
            -# = f.collection_select :category_id, @category_parent_array, :id, :name, {prompt: "---"}, id: "parent-form", name: "item[category_id]"
          .exhibit-main__detail__input__state
            %label
              商品の状態
              %span 必須
            = f.select :condition, Item.conditions.keys.map {|k| [I18n.t("enums.item.condition.#{k}"), k]}, prompt: "---"
      .exhibit-main__delivery-info
        %h3.exhibit-main__delivery-info__title
          配送について
          = link_to "?", ""
        .exhibit-main__delivery-info__input
          .exhibit-main__delivery-info__input__fee
            %label
              配送料の負担
              %span 必須
            = f.select :postage, Item.postages.keys.map {|k| [I18n.t("enums.item.postage.#{k}"), k]}, prompt: "---"
          .exhibit-main__delivery-info__input__area
            %label
              発送元の地域
              %span 必須
            = f.collection_select :region, Prefecture.all, :id, :name, prompt: "---"
          .exhibit-main__delivery-info__input__shipping-days
            %label
              発送までの日数
              %span 必須
            = f.select :delivery_schedule, Item.delivery_schedules.keys.map {|k| [I18n.t("enums.item.delivery_schedule.#{k}"), k]}, prompt: "---"
      .exhibit-main__sell-price
        %h3.exhibit-main__sell-price__title
          販売価格(300〜9,999,999)
          = link_to "?", ""
        .exhibit-main__sell-price__body
          .exhibit-main__sell-price__body__label
            %label
              価格
              %span 必須
            %p.exhibit-main__sell-price__body__label__input
              ¥
              = f.text_field :price, placeholder: "例)  300", id: "exhibit-price"
          .exhibit-main__sell-price__body__fee
            %p 販売手数料(10%)
            %p.exhibit-main__sell-price__body__fee__calc -
          .exhibit-main__sell-price__body__gain
            %p 販売利益
            %p.exhibit-main__sell-price__body__gain__calc -
      .exhibit-main__foot
        %p.exhibit-main__foot__rules
          = link_to "禁止されている出品"
          、
          = link_to "行為"
          を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to "偽ブランドの販売"
          は
          %br
          犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして加盟店規約に同意したことになります。
        .exhibit-main__foot__btn
          = f.submit "出品する",  class: "exhibit-main__foot__btn--decision"
          = link_to "もどる", root_path, class: "exhibit-main__foot__btn--back"
  = render partial: "footer"

-# .exhibit-wrapper
-#   = render partial: "header"
-#   %main.exhibit-main
-#     .exhibit-main__head
-#       %h2 商品の情報を入力
-#     = form_for @item do |f|{class: "exhibit-main__image-content"}
-#       .exhibit-main__image-content__form
-#         = f.fields_for :item_images  do |img|
-#           .exhibit-main__image-content__form--title
-#             %h3 出品画像
-#             %span
-#               必須
-#             %p 最大10枚までアップロードできます
-#           .exhibit-main__image-content__form__body
-#             .exhibit-main__image-content__form__body__img-small#img_field
-#             .exhibit-main__image-content__form__body__img-large
-#               = img.label :image, class: "exhibit-main__image-content__form__body__img-large--label", for: "file" do
-#                 %h3
-#                   ドラッグアンドドロップ
-#                   %br またはクリックしてファイルをアップロード
-#             = img.file_field :image, id: "file", class: "exhibit-main__image-content__form__body--file", name: "item_images[image][]", accept: "image/*", multiple: true
-#       .exhibit-main__description
-#         .exhibit-main__description__title
-#           %label
-#             商品名
-#             %span 必須
-#           = f.text_field :name, placeholder: "商品名 (必須40字まで)", class: "exhibit-main__description__title__input"
-#         .exhibit-main__description__body
-#           %label
-#             商品の説明
-#             %span 必須
-#           = f.text_area :description, placeholder: "商品の説明 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入してジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "exhibit-main__description__body__input"
-#       .exhibit-main__detail
-#         %h3.exhibit-main__detail__title
-#           商品の詳細
-#         .exhibit-main__detail__input
-#           .exhibit-main__detail__input__category#category-box
-#             %label
-#               カテゴリー
-#               %span 必須
-#             = f.select :category_id, @category_parent_array, {}, {id: "parent-form"}
-#           .exhibit-main__detail__input__state
-#             %label
-#               商品の状態
-#               %span 必須
-#             = f.select :condition, Item.conditions.keys.map {|k| [I18n.t("enums.item.condition.#{k}"), k]}, prompt: "---"
-#       .exhibit-main__delivery-info
-#         %h3.exhibit-main__delivery-info__title
-#           配送について
-#           = link_to "?", ""
-#         .exhibit-main__delivery-info__input
-#           .exhibit-main__delivery-info__input__fee
-#             %label
-#               配送料の負担
-#               %span 必須
-#             = f.select :postage, Item.postages.keys.map {|k| [I18n.t("enums.item.postage.#{k}"), k]}, prompt: "---"
-#           .exhibit-main__delivery-info__input__area
-#             %label
-#               発送元の地域
-#               %span 必須
-#             = f.collection_select :region, Prefecture.all, :id, :name, prompt: "---"
-#           .exhibit-main__delivery-info__input__shipping-days
-#             %label
-#               発送までの日数
-#               %span 必須
-#             = f.select :delivery_schedule, Item.delivery_schedules.keys.map {|k| [I18n.t("enums.item.delivery_schedule.#{k}"), k]}, prompt: "---"
-#       .exhibit-main__sell-price
-#         %h3.exhibit-main__sell-price__title
-#           販売価格(300〜9,999,999)
-#           = link_to "?", ""
-#         .exhibit-main__sell-price__body
-#           .exhibit-main__sell-price__body__label
-#             %label
-#               価格
-#               %span 必須
-#             %p.exhibit-main__sell-price__body__label__input
-#               ¥
-#               = f.text_field :price, placeholder: "例)  300", id: "exhibit-price"
-#           .exhibit-main__sell-price__body__fee
-#             %p 販売手数料(10%)
-#             %p.exhibit-main__sell-price__body__fee__calc -
-#           .exhibit-main__sell-price__body__gain
-#             %p 販売利益
-#             %p.exhibit-main__sell-price__body__gain__calc -
-#       .exhibit-main__foot
-#         %p.exhibit-main__foot__rules
-#           = link_to "禁止されている出品"
-#           、
-#           = link_to "行為"
-#           を必ずご確認ください。
-#           %br
-#           またブランド品でシリアルナンバー等がある場合はご記載ください。
-#           = link_to "偽ブランドの販売"
-#           は
-#           %br
-#           犯罪であり処罰される可能性があります。
-#           %br
-#           また、出品をもちまして加盟店規約に同意したことになります。
-#         .exhibit-main__foot__btn
-#           = f.submit "出品する",  class: "exhibit-main__foot__btn--decision"
-#           = link_to "もどる", root_path, class: "exhibit-main__foot__btn--back"
-#   = render partial: "footer"

